# **Assignment 3: Pandas**
- **you will learn:** how to create and manipulate Pandas series and dataframes, perform vectorized computations and work with dates and times
- **task:**  See section 3.4 below
- **deadline:** 03.11.2025
- [Pandas documentation](https://pandas.pydata.org/docs/index.html)
- ğŸ“ **Reminder:** Sync your GitHub repository with the main course repository, update your project in PyCharm, and after completing the assignment, commit and push your changes back to GitHub.

## **3.1 Introduction: Connection to NumPy**

The **Pandas** library is a high-level data manipulation tool built on top of **NumPy**.  
While NumPy provides powerful *numerical* operations on arrays, Pandas adds tools for handling **labeled**, **heterogeneous**, and **tabular data** â€” similar to how you might work with data in an Excel sheet or SQL table.

- NumPy â†’ works with arrays of numbers  
- Pandas â†’ works with **Series** (1D labeled data) and **DataFrames** (2D labeled data)

You can think of **Pandas** as an enhanced version of NumPy â€” it builds upon its speed and efficiency, but adds **labels**, **indexing**, and **data handling** capabilities that make real-world data analysis much easier.

In [2]:
import numpy as np
import pandas as pd
from pandas.core.indexers import length_of_indexer

print("NumPy version:", np.__version__)
print("Pandas version:", pd.__version__)

NumPy version: 2.3.3
Pandas version: 2.3.2

## **3.2 Series**

There are two main data structures in Pandas:

1. **Series** â€“ a one-dimensional labeled array (like a single column)
2. **DataFrame** â€“ a two-dimensional labeled data structure (like a table)

We begin by inspecting the **Series** data structure: a sequence of values with an associated index (which makes it different from a NumPy array).

In [ ]:
print("Series comes with data, index and possibly a name. \n")

# 1ï¸âƒ£ Floats with default index
s1 = pd.Series([1.2, 3.4, 5.6, 7.8])
print("1. Floats with default index:\n", s1, "\n")

# 2ï¸âƒ£ Floats with explicit string index
s2 = pd.Series([2.5, 3.8, 4.1], index=['a', 'b', 'c'])
print("2. Floats with string index:\n", s2, "\n")

# 3ï¸âƒ£ Floats with consecutive date index
s3 = pd.Series([10.1, 11.2, 12.3, 13.4], index=pd.date_range("2025-01-01", periods=4))
print("3. Floats with date index:\n", s3, "\n")

# 4ï¸âƒ£ Mixed data types (int, float, string, bool)
s4 = pd.Series([10, 3.14, 'hello', True], name='A bunch of data...')
print("4. Mixed data types:\n", s4, "\n")

# 5ï¸âƒ£ Data containing missing values (NaN)
s5 = pd.Series([1.1, np.nan, 2.2, None, 3.3])
print("5. Data with missing values:\n", s5)

# 6ï¸âƒ£ Data created from NumPy array
arr = np.array([100, 200, 300])
s6 = pd.Series(arr)
print("\n6. Data from NumPy array:\n", s6)

Also the index of a Series has a specific data type, which can vary based on how the Series was created.

In [ ]:
s1.index, s2.index, s3.index, s4.index, s5.index, s6.index

In [ ]:
s1[2], s2['b'], s3[pd.Timestamp('2025-01-02')], s4[3], s5[1], s6[len(s6)-1]

In [ ]:
print("Even with non-integer indices, we can access elements using .iloc:\n")
s3.iloc[2]

In [ ]:
s2[['a', 'c']]

In [ ]:
print("Slicing works similarly to NumPy arrays:\n")
s1[1:-1]

In [ ]:
print("For non-integer indices, slicing works even with interval boundaries:\n")
s3['2025-01-02':'2025-01-04'], s3[3:5]

In [ ]:
print("Warning: index uniqueness is not enforced, so duplicate indices are possible:\n")
s_dup = pd.Series([10, 20, 30], index=['a', 'b', 'a'])
print(s_dup['a'])  # Returns both values for index 'a'

In [ ]:
print("Boolean indexing:\n")
pd.Series([1, 2, 3])[[True, False, True]]

We have touched  **DatetimeIndex** and **Timestamp**, two examples of a long list of specialized pandas objects for date and time manipulation, see the [documentation](https://pandas.pydata.org/docs/user_guide/timeseries.html) for more details.

### **3.2.1 Series Operations**

Pandas Series support a variety of operations similar to NumPy arrays, including arithmetic operations, aggregation functions, and element-wise operations.

In [ ]:
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s2 = pd.Series([4., 5., 6.], index=['a', 'b', 'c'])

print(s1 + s2)   # Addition
print(s1 - s2)   # Subtraction
print(s1 * s2)   # Multiplication
print(s1 / s2)   # Division

In [ ]:
print("Operations align on index labels:\n")
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'd'])
s2 = pd.Series([4., 5., 6.], index=['a', 'b', 'c'])

print(s1 + s2)   # Addition
print(s1 - s2)   # Subtraction
print(s1 * s2)   # Multiplication
print(s1 / s2)   # Division

In [ ]:
print("Comparison operations:\n")
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s > 2)
print(s == 2)

In [ ]:
print("Aggregation functions:\n")
s = pd.Series([1, 2, 3, 4, 5])
print(s.sum())     # 15
print(s.mean())    # 3.0
print(s.median())  # 3.0
print(s.min())     # 1
print(s.max())     # 5
print(s.std())     # Standard deviation

In [ ]:
print("Element-wise logical operations:\n")
s1 = pd.Series([True, False, True])
s2 = pd.Series([False, True, True])

print(s1 & s2)  # Element-wise AND
print(s1 | s2)  # Element-wise OR
print(~s1)      # NOT

In [ ]:
print("String operations on Series of strings:\n")
s = pd.Series(['apple', 'banana', 'cherry'])
print(s.str.upper())   # ['APPLE', 'BANANA', 'CHERRY']
print(s.str.contains('a'))  # [True, True, False]
print(s.str.len())     # [5, 6, 6]

In [ ]:
print("Also NumPy functions work on Series:\n")
s = pd.Series([1, 4, 9, 16])
print(np.sqrt(s))      # Square root
print(np.log(s))       # Natural logarithm
print(np.exp(s))       # Exponential

In [ ]:
print("Cumulative operations:\n")
s = pd.Series([1, 2, 3, 4, 5])
print(s.cumsum())  # Cumulative sum
print(s.cumprod()) # Cumulative product
print(s.cummax())  # Cumulative maximum
print(s.cummin())  # Cumulative minimum

In [ ]:
print("Vectorized operations are efficient:\n")
s = pd.Series(np.arange(1, 1000001))

squared = s.apply(lambda x: x ** 2)
print(squared)

In [ ]:
def add_number(x, n):
    return x + n

# Using apply with a lambda to pass the extra argument
added = s.apply(lambda x: add_number(x, 10))
print(added)

## **3.3 DataFrames**

In data analysis, we often work with tabular data consisting of rows and columns, where similarly to an excel spreadsheet, each row represents a record and each column represents a feature or attribute of that record. DataFrames are the primary data structure in Pandas for handling such tabular data.

In [ ]:
# ---------------------------
# 1. Creating DataFrame from a NumPy array
# ---------------------------
# NumPy array
array_data = np.array([[10, 20, 30],
                       [40, 50, 60],
                       [70, 80, 90]])

# Create DataFrame
df_from_array = pd.DataFrame(array_data, columns=['A', 'B', 'C'])
print("DataFrame from NumPy array:\n", df_from_array)

# ---------------------------
# 2. Creating DataFrame from a Pandas Series
# ---------------------------
# Series
s1 = pd.Series([100, 200, 300], name='X')
s2 = pd.Series([400, 500, 600], name='Y')

# Combine Series into DataFrame
df_from_series = pd.concat([s1, s2], axis=1)  # warning: compare to the case with axis=0
print("\nDataFrame from Series:\n", df_from_series)

# ---------------------------
# 3. Creating DataFrame from a dictionary
# ---------------------------
# Dictionary
dict_data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df_from_dict = pd.DataFrame(dict_data)
print("\nDataFrame from Dictionary:\n", df_from_dict)

# ---------------------------
# 4. Creating DataFrame from a csv file
# ---------------------------

df_from_csv = pd.read_csv('data/csv_example.csv') # Assuming a CSV file 'csv_example.csv' exists in the current 'data' directory
print("\nDataFrame from CSV file:\n", df_from_csv, sep=',')

In [ ]:
df_from_csv.shape, df_from_csv.columns, df_from_csv.index, df_from_csv.dtypes

In [39]:
df_from_csv = df_from_csv.astype({'Salary': float})
df_from_csv.dtypes

NameError: name 'df_from_csv' is not defined

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'Major': ['Math', 'Physics', 'Biology', 'CS', 'Chemistry'],
    'GPA': [3.5, 3.8, 3.2, 3.9, 3.7]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

# ---------------------------
# 2. Setting an index
# ---------------------------
df.set_index('Name', inplace=True)
print("\nDataFrame with 'Name' as index:\n", df)

# ---------------------------
# 3. Slicing rows
# ---------------------------
# Using loc (label-based)
print("\nSlice using loc (Alice to Charlie):\n", df.loc['Alice':'Charlie'])

# Using iloc (position-based)
print("\nSlice using iloc (first 3 rows):\n", df.iloc[0:3])

# ---------------------------
# 4. Slicing columns
# ---------------------------
# Select a single column
print("\nSelect 'Age' column:\n", df['Age'])

# Select multiple columns
print("\nSelect 'Age' and 'GPA' columns:\n", df[['Age', 'GPA']])

# Select columns using loc (rows + columns)
print("\nSelect rows Alice to Charlie and columns Age & GPA:\n", df.loc['Alice':'Charlie', ['Age', 'GPA']])

# Select columns using iloc (by positions)
# Rows 0 to 2, columns 0 to 1 (Age and Major)
print("\nSelect first 3 rows and first 2 columns using iloc:\n", df.iloc[0:3, 0:2])

# ---------------------------
# 5. Filtering rows
# ---------------------------
# Filter students with GPA > 3.5
high_gpa = df[df['GPA'] > 3.5]
print("\nStudents with GPA > 3.5:\n", high_gpa)

# Filter students majoring in CS or Physics
selected_majors = df[df['Major'].isin(['CS', 'Physics'])]
print("\nStudents majoring in CS or Physics:\n", selected_majors)

# ---------------------------
# 6. Changing values
# ---------------------------
# Change a single value using loc
df.loc['Alice', 'GPA'] = 3.6
print("\nAfter changing Alice's GPA to 3.6:\n", df)

# Change multiple values using condition
df.loc[df['Major'] == 'CS', 'GPA'] = 4.0
print("\nAfter setting GPA=4.0 for CS majors:\n", df)

# Change an entire column
df['Age'] = df['Age'] + 1  # increment age by 1
print("\nAfter incrementing Age by 1:\n", df)

In [ ]:
print("When updating values using different dataframe, we must be careful.")
df1 = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
})

df2 = pd.DataFrame({
    'A': [9, 8, 7, 6, 5],
    'B': [90, 80, 70, 60, 50],
    'C': [900, 800, 700, 600, 500]
})

# Without .values
df1.loc[1:2, ['B', 'C']] = df2.loc[3:4, ['B', 'C']]  # it searches for index match in this case
print(df1)

In [ ]:
df1.loc[1:2, ['B', 'C']] = df2.loc[1:2, ['B', 'C']]
print(df1)

In [ ]:
df1.loc[1:2, ['B', 'C']] = df2.loc[3:4, ['B', 'C']].values
print(df1)

Another major topic is grouping and aggregation in DataFrames, which allows us to perform operations on subsets of data based on certain criteria. This topic will be covered in more detail in later assignments.

## **3.3.1 Inplace vs non-inplace**

In [44]:
data = {
    'Name': ['Alice', 'Bob', None, 'David'],
    'Age': [25, np.nan, 30, np.nan]
}

df = pd.DataFrame(data)
print(df)

    Name   Age
0  Alice  25.0
1    Bob   NaN
2   None  30.0
3  David   NaN

In [45]:
new_df = df.dropna(subset=['Name'])
print(new_df)  # New df without NaN
print(df)      # Original df unchanged

    Name   Age
0  Alice  25.0
1    Bob   NaN
3  David   NaN
    Name   Age
0  Alice  25.0
1    Bob   NaN
2   None  30.0
3  David   NaN

In [ ]:
df.dropna(subset=['Name'], inplace=True)
print(df)

In [ ]:
print("Warning: inplace=True modifies the original DataFrame and returns None, chaining the operations is therefore impossible.\n")
type(df.dropna(subset=['Name'], inplace=True).fillna(0))

## **3.3.2 Transformations**

In [ ]:
# Sample DataFrame
df = pd.DataFrame({
    'Product': ['A', 'B', 'C', 'D'],
    'Price': [100, 200, 150, 300],
    'Quantity': [5, 2, 7, 3]
})

# 1. Adding new columns
df['Total'] = df['Price'] * df['Quantity']

# 2. apply(), map()
df['Discounted'] = df['Price'].apply(lambda x: x*0.9)  # Apply to column
df['Category'] = df['Product'].map({'A':'X','B':'Y','C':'X','D':'Y'})  # Map values

# 3. replace()
df['Category'] = df['Category'].replace({'X':'Type1','Y':'Type2'})

# 4. Binning data
df['PriceRange'] = pd.cut(df['Price'], bins=[0, 100, 200, 500], labels=['Low', 'Medium', 'High'])

# 5. Categorical handling
df['Category'] = df['Category'].astype('category')

### **3.3.3 Date and Time in DataFrames**

In [16]:
data = {
    'event': ['Event A', 'Event B', 'Event C', 'Event D'],
    'date_str': ['2025-10-01', '2025-10-05', '2025-11-10', '2025-12-15'],
    'time_str': ['12:30:00', '15:45:00', '09:20:00', '18:00:00']
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

# ------------------------------
# 2. Converting strings to datetime
# ------------------------------
df['date'] = pd.to_datetime(df['date_str'])
df['datetime'] = pd.to_datetime(df['date_str'] + ' ' + df['time_str'])
print("\nDataFrame with datetime:\n", df)

# ------------------------------
# 3. Extracting components
# ------------------------------
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['weekday'] = df['date'].dt.day_name()
df['hour'] = df['datetime'].dt.hour
df['minute'] = df['datetime'].dt.minute
df['second'] = df['datetime'].dt.second
print("\nExtracted date components:\n", df)

# ------------------------------
# 4. Date arithmetic
# ------------------------------
df['next_day'] = df['date'] + pd.Timedelta(days=1)
df['prev_week'] = df['date'] - pd.Timedelta(weeks=1)
df['plus_hours'] = df['datetime'] + pd.Timedelta(hours=5)
print("\nDate arithmetic:\n", df)

# ------------------------------
# 5. Filtering by date
# ------------------------------
# Filter events after 2025-11-01
filtered_df = df[df['date'] > '2025-11-01']
print("\nFiltered events after 2025-11-01:\n", filtered_df)

# ------------------------------
# 6. Date ranges
# ------------------------------
date_range = pd.date_range(start='2025-10-01', end='2025-10-10', freq='D')
print("\nDate range from 2025-10-01 to 2025-10-10:\n", date_range)

# ------------------------------
# 7. Resampling and time series
# ------------------------------
# Creating a time series
ts_data = pd.Series(np.random.randn(10), 
                    index=pd.date_range('2025-10-01', periods=10, freq='D'))
print("\nTime series data:\n", ts_data)

# Resample to weekly sums
weekly_sum = ts_data.resample('W').sum()
print("\nWeekly sum:\n", weekly_sum)

# ------------------------------
# 8. Handling missing dates
# ------------------------------
ts_data_with_missing = ts_data.copy()
ts_data_with_missing = ts_data_with_missing.drop(ts_data_with_missing.index[3])
print("\nTime series with missing date:\n", ts_data_with_missing)

# Filling missing dates
ts_filled = ts_data_with_missing.asfreq('D', fill_value=0)
print("\nFilled missing dates:\n", ts_filled)

# ------------------------------
# 9. Date formatting
# ------------------------------
df['formatted_date'] = df['date'].dt.strftime('%d-%b-%Y')
df['formatted_datetime'] = df['datetime'].dt.strftime('%Y/%m/%d %H:%M:%S')
print("\nFormatted dates:\n", df[['formatted_date', 'formatted_datetime']])

# ------------------------------
# 10. Working with periods
# ------------------------------
period = pd.Period('2025-10', freq='M')  # Month period
print("\nMonthly period:", period)
print("Start of period:", period.start_time)
print("End of period:", period.end_time)

Original DataFrame:
      event    date_str  time_str
0  Event A  2025-10-01  12:30:00
1  Event B  2025-10-05  15:45:00
2  Event C  2025-11-10  09:20:00
3  Event D  2025-12-15  18:00:00

DataFrame with datetime:
      event    date_str  time_str       date            datetime
0  Event A  2025-10-01  12:30:00 2025-10-01 2025-10-01 12:30:00
1  Event B  2025-10-05  15:45:00 2025-10-05 2025-10-05 15:45:00
2  Event C  2025-11-10  09:20:00 2025-11-10 2025-11-10 09:20:00
3  Event D  2025-12-15  18:00:00 2025-12-15 2025-12-15 18:00:00

Extracted date components:
      event    date_str  time_str       date            datetime  year  month  \
0  Event A  2025-10-01  12:30:00 2025-10-01 2025-10-01 12:30:00  2025     10
1  Event B  2025-10-05  15:45:00 2025-10-05 2025-10-05 15:45:00  2025     10
2  Event C  2025-11-10  09:20:00 2025-11-10 2025-11-10 09:20:00  2025     11
3  Event D  2025-12-15  18:00:00 2025-12-15 2025-12-15 18:00:00  2025     12

   day    weekday  hour  minute  second
0    1  Wednesday    12      30       0
1    5     Sunday    15      45       0
2   10     Monday     9      20       0
3   15     Monday    18       0       0

Date arithmetic:
      event    date_str  time_str       date            datetime  year  month  \
0  Event A  2025-10-01  12:30:00 2025-10-01 2025-10-01 12:30:00  2025     10
1  Event B  2025-10-05  15:45:00 2025-10-05 2025-10-05 15:45:00  2025     10
2  Event C  2025-11-10  09:20:00 2025-11-10 2025-11-10 09:20:00  2025     11
3  Event D  2025-12-15  18:00:00 2025-12-15 2025-12-15 18:00:00  2025     12

   day    weekday  hour  minute  second   next_day  prev_week  \
0    1  Wednesday    12      30       0 2025-10-02 2025-09-24
1    5     Sunday    15      45       0 2025-10-06 2025-09-28
2   10     Monday     9      20       0 2025-11-11 2025-11-03
3   15     Monday    18       0       0 2025-12-16 2025-12-08

           plus_hours
0 2025-10-01 17:30:00
1 2025-10-05 20:45:00
2 2025-11-10 14:20:00
3 2025-12-15 23:00:00

Filtered events after 2025-11-01:
      event    date_str  time_str       date            datetime  year  month  \
2  Event C  2025-11-10  09:20:00 2025-11-10 2025-11-10 09:20:00  2025     11
3  Event D  2025-12-15  18:00:00 2025-12-15 2025-12-15 18:00:00  2025     12

   day weekday  hour  minute  second   next_day  prev_week          plus_hours
2   10  Monday     9      20       0 2025-11-11 2025-11-03 2025-11-10 14:20:00
3   15  Monday    18       0       0 2025-12-16 2025-12-08 2025-12-15 23:00:00

Date range from 2025-10-01 to 2025-10-10:
 DatetimeIndex(['2025-10-01', '2025-10-02', '2025-10-03', '2025-10-04',
               '2025-10-05', '2025-10-06', '2025-10-07', '2025-10-08',
               '2025-10-09', '2025-10-10'],
              dtype='datetime64[ns]', freq='D')

Time series data:
 2025-10-01   -0.854106
2025-10-02    0.880401
2025-10-03    0.755824
2025-10-04    0.040288
2025-10-05   -1.095416
2025-10-06   -1.309774
2025-10-07    1.234284
2025-10-08   -0.717393
2025-10-09   -0.345875
2025-10-10   -1.000101
Freq: D, dtype: float64

Weekly sum:
 2025-10-05   -0.273009
2025-10-12   -2.138859
Freq: W-SUN, dtype: float64

Time series with missing date:
 2025-10-01   -0.854106
2025-10-02    0.880401
2025-10-03    0.755824
2025-10-05   -1.095416
2025-10-06   -1.309774
2025-10-07    1.234284
2025-10-08   -0.717393
2025-10-09   -0.345875
2025-10-10   -1.000101
dtype: float64

Filled missing dates:
 2025-10-01   -0.854106
2025-10-02    0.880401
2025-10-03    0.755824
2025-10-04    0.000000
2025-10-05   -1.095416
2025-10-06   -1.309774
2025-10-07    1.234284
2025-10-08   -0.717393
2025-10-09   -0.345875
2025-10-10   -1.000101
Freq: D, dtype: float64

Formatted dates:
   formatted_date   formatted_datetime
0    01-Oct-2025  2025/10/01 12:30:00
1    05-Oct-2025  2025/10/05 15:45:00
2    10-Nov-2025  2025/11/10 09:20:00
3    15-Dec-2025  2025/12/15 18:00:00

Monthly period: 2025-10
Start of period: 2025-10-01 00:00:00
End of period: 2025-10-31 23:59:59.999999999

## 3.4 Homework: Working with Pandas DataFrames in Data Science

### Task overview
In this assignment, you will practice working with **Pandas DataFrames** to perform essential data analysis and preprocessing tasks. You will simulate a small part of a **sensor data analytics pipeline**, a common workflow in data science used to clean, transform, and analyze time-series measurements collected from multiple sensors.  

### Your Task
You are given a dataset stored in **`data/sensor_data.csv`**, containing measurements from multiple sensors, including temperature and humidity readings at various timestamps.

### 1. **Load the Data**
- Load the CSV file into a Pandas DataFrame named `df`.
- Convert columns to appropriate data types (e.g., numeric, datetime, categorical).
- Set a **MultiIndex** using the combination of `sensor_id` and `timestamp`.  
  *Hint:* See [Pandas MultiIndex documentation](https://pandas.pydata.org/docs/user_guide/advanced.html).

### 2. **Data Cleaning**
- Remove all rows where:
  - `temperature` is **below the 20th percentile** or **above the 80th percentile**, **and**
  - any column has a missing value.  
  These rows should be treated as *outliers*.
- Report **how many rows were removed**.

### 3. **Filtering and Feature Engineering**
Perform the following operations on the cleaned DataFrame:

1. Count how many observations have:
   - `temperature` > 25, **and**
   - `humidity` < 40.
2. Create a new column that classifies each observation based on `temperature`:
   - `"low"` if below 20Â°C  
   - `"medium"` if between 20Â°C and 30Â°C  
   - `"high"` if above 30Â°C
3. Drop all rows where:
   - `sensor_id` == `"S5"`, **and**
   - `temperature` lies **outside one standard deviation** from the **global (overall)** mean temperature.

### 4. **Time and Date Analysis**
Add the following time-based columns:

1. **`hours_from_start`** â€“ the difference in hours between each `timestamp` and the first timestamp in the dataset.  
2. **`is_daytime`** â€“ `True` if the measurement was taken between **6:00 AM and 6:00 PM**, otherwise `False`.  
3. **`after_12h`** â€“ `True` if the measurement occurred **at least 12 hours after the first measurement** (you may optionally compute this per sensor).  
4. For **`sensor_id == "S2"`**, perform the following:
   - Create a **rolling average** of `temperature` over a **30-minute window**.
   - Compute the **difference** between the current and next `humidity` reading.
   - Create a Boolean column indicating whether:
     - `temperature` has increased by **more than 5Â°C**, and  
     - `humidity` has dropped by **more than 20** compared to the previous measurement.  
   - Save this subset of data to **`data/sensor_data_S2.csv`**.
5. **`is_weekend`** â€“ indicate whether the measurement was taken on a **Saturday or Sunday**.

### Hints
- When computing statistics along columns, use `axis=0`.
- Prefer **vectorized operations** over `for` loops for efficiency.
- Add **comments or docstrings** to explain key parts of your code.

In [22]:
#1
#nacitanie dat, kontrola dtypes
df = pd.read_csv('data/sensor_data.csv')
print("\nDataFrame from CSV file:\n", df, sep=',')
df = pd.DataFrame(df)
print(df.dtypes)
df['timestamp'] = pd.to_datetime(df["timestamp"])
df['sensor_id'] = df['sensor_id'].astype('category')
#vytvorenie multiindexu
arrays = [df['sensor_id'],df["timestamp"]]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=["sensor_id", "timestamp"])

DataFrame from CSV file:
,                timestamp sensor_id  temperature  humidity
0     2025-10-30 08:00:00        S1        22.51     46.67
1     2025-10-30 08:05:00        S1        22.13     43.08
2     2025-10-30 08:10:00        S1        22.63     43.77
3     2025-10-30 08:15:00        S1        22.20     44.36
4     2025-10-30 08:20:00        S1        22.66     47.45
...                   ...       ...          ...       ...
1245  2025-10-31 04:25:00        S5        23.77     48.94
1246  2025-10-31 04:30:00        S5        23.65     49.85
1247  2025-10-31 04:35:00        S5        23.22     48.78
1248  2025-10-31 04:40:00        S5        23.40     50.39
1249  2025-10-31 04:45:00        S5        23.91     47.91

[1250 rows x 4 columns]
timestamp       object
sensor_id       object
temperature    float64
humidity       float64
dtype: object

In [23]:
#2
length_df  = df.shape[0] #povodny pocet dat
df = df.dropna() #odstranime na
#vypocty percentilov pre teploty
percentil_20 = df["temperature"].quantile(0.2)
percentil_80 = df["temperature"].quantile(0.8)
mask = (df["temperature"] >= percentil_20) & (df["temperature"] <= percentil_80)
#data bez outlierov
df_cleaned = df[mask]
#pocet dat, co sme odstranili
rows_removed = length_df - df_cleaned.shape[0]
print(f"\nNumber of rows removed: {rows_removed}")
#pracujeme s ocistenymi datami
df = df_cleaned

Number of rows removed: 495

In [5]:
#3
#vyfiltrujeme pozorovania na zaklade teploty a z nich aj na zaklade vlhkosti
filtered_temp = df[df['temperature'] > 25]
filtered_hum = filtered_temp[filtered_temp["humidity"] < 40]
#pocet vyfiltrovanych pozorovani
print("\nNumber of observations with temperature higher than 25 and humidity less than 40 :\n", filtered_hum.shape[0])
#novy stlpec pre teplotu na 3 kategorie
df['temperature_category'] = pd.cut(df['temperature'], bins=[0, 20, 30, 100], labels=['Low', 'Medium', 'High'])
#celkove std a celkovy mean teploty
mean_temp = df["temperature"].mean()
std_temp = df["temperature"].std()
#dropneme data, co su v "S5" a viac ako std od celkoveho meanu
mask_s5 = (df["sensor_id"] == "S5") & ~df["temperature"].between(mean_temp - std_temp, mean_temp + std_temp)
df = df[~mask_s5]

Number of observations with temperature higher than 25 and humidity less than 40 :
 0

In [18]:
#4
df = df.copy()
# hours_from_start: rozdiel medzi kazdym timestamp-om a prvym timestamp-om v hodinach
df.loc[:, "hours_from_start"] = (df["timestamp"] - df["timestamp"].iloc[0]).dt.total_seconds() / 3600
# is_daytime: True ak medzi 6:00 a 18:00
df.loc[:, "is_daytime"] = df["timestamp"].dt.hour.between(6, 17)
# after_12h: True ak meranie nastalo aspon 12 h od prveho merania
df.loc[:, "after_12h"] = df["hours_from_start"] >= 12
# is_weekend: True ak sobota alebo nedela
df.loc[:, "is_weekend"] = df["timestamp"].dt.day_name().isin(["Saturday", "Sunday"])
# Subset pre sensor "S2"
df_s2 = df[df["sensor_id"] == "S2"].sort_values("timestamp").copy()
df_s2 = df_s2.set_index("timestamp")
# rolling average teploty na 30-minutove okno
df_s2.loc[:, "rolling_temp"] = df_s2["temperature"].rolling("30min").mean()
# rozdiel nasledovnej a aktuÃ¡lnej vlhkosti
df_s2.loc[:, "humidity_diff_next"] = df_s2["humidity"] - df_s2["humidity"].shift(-1)
# True, ak teplota stupla o viac neÅ¾ 5 Â°C a vlhkost klesla o viac nez 20 oproti predchadzajucemu meraniu
df_s2.loc[:, "temp_up_5_hum_down_20"] = (
    (df_s2["temperature"].diff() > 5) &
    (df_s2["humidity"].diff() < -20)
)
# ulozime ako novy datovy subor
df_s2.to_csv("data/sensor_data_S2.csv", index=False)

              timestamp sensor_id  temperature  humidity temperature_category  \
99  2025-10-30 16:15:00        S1        22.47     45.49               Medium
100 2025-10-30 16:20:00        S1        22.34     46.18               Medium
104 2025-10-30 16:40:00        S1        22.50     46.91               Medium
105 2025-10-30 16:45:00        S1        22.42     45.34               Medium
107 2025-10-30 16:55:00        S1        22.60     46.60               Medium
109 2025-10-30 17:05:00        S1        22.83     46.53               Medium
110 2025-10-30 17:10:00        S1        22.79     45.52               Medium
111 2025-10-30 17:15:00        S1        22.94     44.10               Medium
112 2025-10-30 17:20:00        S1        23.41     46.96               Medium
113 2025-10-30 17:25:00        S1        22.97     45.46               Medium
115 2025-10-30 17:35:00        S1        22.65     46.66               Medium
116 2025-10-30 17:40:00        S1        22.59     44.10               Medium
119 2025-10-30 17:55:00        S1        22.89     43.65               Medium
123 2025-10-30 18:15:00        S1        23.34     46.40               Medium
125 2025-10-30 18:25:00        S1        22.35     47.92               Medium
128 2025-10-30 18:40:00        S1        22.43     44.50               Medium
132 2025-10-30 19:00:00        S1        23.13     46.24               Medium
133 2025-10-30 19:05:00        S1        22.60     47.07               Medium
142 2025-10-30 19:50:00        S1        22.45     48.58               Medium
143 2025-10-30 19:55:00        S1        22.33     46.73               Medium
148 2025-10-30 20:20:00        S1        22.45     46.70               Medium
150 2025-10-30 20:30:00        S1        22.36     45.37               Medium
154 2025-10-30 20:50:00        S1        22.64     46.70               Medium
155 2025-10-30 20:55:00        S1        22.90     47.79               Medium
156 2025-10-30 21:00:00        S1        22.71     47.64               Medium
160 2025-10-30 21:20:00        S1        22.68     44.40               Medium
161 2025-10-30 21:25:00        S1        22.64     44.81               Medium
167 2025-10-30 21:55:00        S1        23.24     48.76               Medium
168 2025-10-30 22:00:00        S1        23.11     47.37               Medium
169 2025-10-30 22:05:00        S1        22.82     45.01               Medium

     hours_from_start  is_daytime  after_12h  is_weekend
99           8.250000        True      False       False
100          8.333333        True      False       False
104          8.666667        True      False       False
105          8.750000        True      False       False
107          8.916667        True      False       False
109          9.083333        True      False       False
110          9.166667        True      False       False
111          9.250000        True      False       False
112          9.333333        True      False       False
113          9.416667        True      False       False
115          9.583333        True      False       False
116          9.666667        True      False       False
119          9.916667        True      False       False
123         10.250000       False      False       False
125         10.416667       False      False       False
128         10.666667       False      False       False
132         11.000000       False      False       False
133         11.083333       False      False       False
142         11.833333       False      False       False
143         11.916667       False      False       False
148         12.333333       False       True       False
150         12.500000       False       True       False
154         12.833333       False       True       False
155         12.916667       False       True       False
156         13.000000       False       True       False
160         13.333333       False       True       False
161         13.416667       False       True       False
167         13.916667       False       True       False
168         14.000000       False       True       False
169         14.083333       False       True       False